* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: lightP;
  src: url(../fonts/Poppins-Light.ttf);
}

body {
  font-family: lightP;
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.ham {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ham > .ham-menu {
  font-size: 32px;
  cursor: pointer;
  color: white;
  padding: 10px 0px 0px 0px;
}

.full-navbar {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: rgba(0, 0, 30, 0.75);
          box-shadow: rgba(0, 0, 30, 0.75);
  z-index: 10;
}

.navbar {
  width: 90%;
  margin: auto;
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo h1 {
  font-size: 28px;
}

nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navLinks li a {
  color: black;
  font-size: 18px;
}

.menu li a {
  font-size: 20px;
  color: white;
}

.signBtn {
  border: none;
  background: none;
  border: 1.5px solid black;
  height: 48px;
  width: 120px;
  font-size: 18px;
  font-weight: 100;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  font-family: lightP;
  cursor: pointer;
}

.signBtn:hover {
  background-color: black;
  color: white;
}

.menu {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  will-change: transform;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  list-style: none;
  z-index: 10;
}

.menu .close-btn {
  font-size: 44px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: .4em;
  outline: none;
}

.menu .links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .links li {
  margin: 1.5em;
}

.menu .links li a {
  font-size: 28px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.menu .links li a:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  font-size: 40px;
  color: #ff4a77;
}

.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.lock-scroll {
  overflow: hidden;
}

.ham-hide {
  display: none;
}

.overlay {
  background: url(../images/pexels-fotografierende-1111597.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
  background-attachment: scroll;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.head-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info > h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 38px;
}

.info button {
  height: 48px;
  width: 250px;
  margin: 18px 0px 0px 0px;
  background: none;
  outline: none;
  border: none;
  background: transparent;
  border: 2px solid #e6f0e6;
  color: white;
  font-size: 19px;
  font-family: lightP;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.info button a {
  color: white;
}

.info-btn:hover {
  border: none;
  background-color: white;
  width: 280px;
  outline: none;
}

.info-btn:hover a {
  color: black;
}

.experience {
  width: 96%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1.5em;
  padding: 30px 0px 50px 0px;
  text-align: center;
}

.freelance, .remote, .projects, .games {
  background-color: #e4e3e3;
  height: 200px;
  padding: 10px 0px 10px 0px;
}

.second-sec-heading {
  font-size: 32px;
  font-weight: 100;
  padding: 30px 0px;
  text-align: center;
}

.two-sided-content {
  width: 96%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 80px 0px;
  grid-gap: 2em;
}

.picOne > img {
  height: 100%;
  width: 100%;
}

.picOne > img:hover {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
}

.contentOne h2 {
  font-size: 28px;
  font-weight: 100;
  margin-bottom: .7em;
}

.contentOne p {
  margin-bottom: 1em;
}

.cta > a > button {
  font-size: 17px;
  background: none;
  border: none;
  border: 1.5px solid black;
  height: 50px;
  width: 220px;
  font-family: lightP;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.cta > a > button:hover {
  border: none;
  background-color: black;
  color: white;
}

.detailsOfNumbers {
  height: 60vh;
  text-align: center;
  padding: 0px 0px 70px 0px;
  width: 96%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1.5em;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.instagram-images {
  width: 96%;
  margin: auto;
}

.insta-img-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.4em;
  -ms-grid-columns: (minmax(340px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  place-content: center;
  text-align: center;
}

.img-second-section {
  height: 30%;
  width: 30%;
  margin: 12px 0px 10px 0px;
}

.image-grid {
  height: 340px;
  overflow: hidden;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.image-grid .instaImg {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.image-grid .instaImg:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.newsletter-container {
  height: 35vh;
  width: 96%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f1f1;
  margin-top: 2.5em;
}

.newsletter-container .news-div {
  margin-bottom: 1.8em;
}

.newsletter-container .news-div h1 {
  text-align: center;
  font-size: 36px;
  font-weight: lighter;
  margin-bottom: 1.5em;
}

.newsletter-container .news-div .news-input {
  margin-bottom: .9em;
}

.newsletter-container .news-div .news-input input {
  width: 700px;
  height: 44px;
  border: none;
  background-color: none;
  border: 0.9px solid #9e9e9e;
  border-radius: 2px;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}

.newsletter-container .news-div .news-input input::-webkit-input-placeholder {
  font-size: 17px;
  color: #b9b8b8;
}

.newsletter-container .news-div .news-input input:-ms-input-placeholder {
  font-size: 17px;
  color: #b9b8b8;
}

.newsletter-container .news-div .news-input input::-ms-input-placeholder {
  font-size: 17px;
  color: #b9b8b8;
}

.newsletter-container .news-div .news-input input::placeholder {
  font-size: 17px;
  color: #b9b8b8;
}

.newsletter-container .news-div .news-cta {
  text-align: center;
}

.newsletter-container .news-div .news-cta button {
  height: 44px;
  width: 120px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: none;
  background-color: black;
  color: white;
  font-family: lightP;
  font-size: 18px;
  cursor: pointer;
}

.signIn-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  padding: 30px 0px;
}

.signIn-form > form {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.signIn-form > form > input {
  height: 45px;
  width: 350px;
  border: none;
  border-bottom: 1.3px solid black;
  font-size: 18px;
  font-family: lightP;
  outline: none;
}

.signIn-form > form > textarea {
  border: none;
  border: 0.5px solid #3b3b3b;
  outline: none;
  font-family: lightP;
  padding: 10px 0px 0px 10px;
  font-size: 16px;
  height: 210px;
}

.signIn-form > form > .file {
  font-size: 16px;
  border-bottom: none;
}

.form-signIn-btn {
  margin: auto;
  width: 200px;
  height: 48px;
  font-size: 18px;
  font-family: lightP;
  border: none;
  background: none;
  border: 1.4px solid black;
  -webkit-transition: .4s;
  transition: .4s;
}

.form-signIn-btn:hover {
  border: none;
  background-color: black;
  color: white;
}

#fullNameId, #mobileId, #emailId, #passwordId {
  color: red;
}

.foot-grids {
  background-color: #3b3b3b;
  -webkit-clip-path: polygon(0 0, 100% 24%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 24%, 100% 100%, 0% 100%);
  width: 96%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1.5em;
  place-items: center;
  padding: 10px 0px;
  color: white;
}

.foot-grids .foot-grid-box h2 {
  margin: 0px 0px 34px 0px;
  font-size: 2em;
}

.foot-grids .foot-grid-box p {
  margin: 0px 0px 34px 0px;
  font-size: 1.2em;
}

.foot-grids .foot-grid-box .foot-cta button {
  height: 50px;
  width: 160px;
  border-radius: 8px;
  border: none;
  background: none;
  background-color: white;
  font-family: lightP;
  font-size: 17px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
}

.foot-grids .foot-grid-box .foot-cta button a {
  color: black;
}

.foot-grids a {
  color: white;
}

.merch-section {
  width: 90%;
  margin: auto;
}

.merch-section .merch-title {
  padding: 4.4em 0 1em 0;
  text-align: center;
}

.merch-section .merch-title h1 {
  font-size: 38px;
}

.merch-section .merch {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1.4em;
}

.merch-section .merch .merch-container-one img {
  height: 34vh;
  cursor: pointer;
}

.merch-section .merch .merch-container-one img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.merch-section .merch .merch-container-one .img-price-detail-container {
  text-align: center;
  margin: 18px 0px;
}

.merch-section .merch .merch-container-one .img-price-detail-container a {
  color: black;
}

.about-section {
  width: 60%;
  margin: auto;
  line-height: 2em;
}

.about-section h1 {
  margin-bottom: 1.5em;
}

.about-section h5 {
  margin-bottom: .4em;
}

.form-heading {
  margin: .5em 0 1.1em 0;
}

.error-content {
  place-items: center;
}

#notfound {
  position: relative;
  height: 100vh;
  background: #fdfdfd;
  margin: 0;
  padding: 0;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  letter-spacing: -20px;
}

.notfound .notfound-404 h2 {
  font-family: lightP;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

.signIn-Up-section {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: .8;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.signIn-Up-section .form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  height: 70%;
  width: 40%;
  border-radius: 40px;
}

.signIn-Up-section .form-section .form-grid-one img {
  height: 190px;
}

.signIn-Up-section .form-section form {
  width: 90%;
  margin: auto;
}

.signIn-Up-section .form-section form input {
  width: 350px;
  height: 40px;
}

.skills-section {
  height: 40vh;
  max-width: 80%;
  margin: auto;
  margin-top: 1em;
  display: -ms-grid;
  display: grid;
  grid-gap: .2em;
  place-items: center;
}

.skills-section .bar {
  color: black;
  letter-spacing: 1.2px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  width: 100%;
  margin: 5px auto;
  display: inline-block;
}

.skills-section .bar:nth-child(1) span::before {
  width: 90%;
}

.skills-section .bar:nth-child(2) span::before {
  width: 80%;
}

.skills-section .bar:nth-child(3) span::before {
  width: 80%;
}

.skills-section .bar:nth-child(4) span::before {
  width: 70%;
}

.skills-section .bar:nth-child(5) span::before {
  width: 66%;
}

.skills-section .bar:nth-child(6) span::before {
  width: 68%;
}

.skills-section .bar h3 {
  margin-bottom: 10px;
}

.skills-section .bar span {
  width: 100%;
  height: 20px;
  border-radius: 50px;
  background-color: black;
  display: inline-block;
}

.skills-section .bar span::before {
  position: absolute;
  content: "";
  top: 35.9px;
  left: 1.3px;
  width: 80%;
  height: 28%;
  border-radius: 50px;
  background: -webkit-gradient(linear, right top, left top, from(#f05053), to(#e1eec3));
  background: linear-gradient(to left, #f05053, #e1eec3);
  -webkit-animation: newLine 4s ease;
          animation: newLine 4s ease;
}

@-webkit-keyframes newLine {
  from {
    width: 0%;
  }
}

@keyframes newLine {
  from {
    width: 0%;
  }
}

.portfolio-container {
  max-width: 100rem;
  margin: auto;
  padding: 0 2rem 2rem;
  margin-top: 10em;
  margin-bottom: 3em;
}

.portfolio-container .port-heading {
  font-size: 38px;
  text-align: center;
  margin-bottom: 1.4em;
  font-weight: lighter;
}

.portfolio-container .portfolio-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -1rem -1rem;
}

.portfolio-container .portfolio-gallery .gallery-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 24rem;
          flex: 1 0 24rem;
  margin: 1rem;
  -webkit-box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.portfolio-container .portfolio-gallery .gallery-item .gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: -webkit-transform 400ms ease-out;
  transition: transform 400ms ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
}

.portfolio-container .portfolio-gallery .gallery-item .gallery-image:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.sign-in-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.sign-in-container .signIn-section {
  height: 100%;
  width: 100%;
  background-color: black;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 73%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 73%);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.sign-in-container .signIn-section .form-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 370px;
  width: 400px;
  background-color: #5454fc;
  z-index: 1;
  border-radius: 16px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 1;
}

.sign-in-container .signIn-section .form-div form h1 {
  text-align: center;
  color: white;
  font-family: lightP;
}

.sign-in-container .signIn-section .form-div form .email-input::-webkit-input-placeholder, .sign-in-container .signIn-section .form-div form .password-input::-webkit-input-placeholder {
  font-size: 18px;
  color: #e6e6e6;
}

.sign-in-container .signIn-section .form-div form .email-input:-ms-input-placeholder, .sign-in-container .signIn-section .form-div form .password-input:-ms-input-placeholder {
  font-size: 18px;
  color: #e6e6e6;
}

.sign-in-container .signIn-section .form-div form .email-input::-ms-input-placeholder, .sign-in-container .signIn-section .form-div form .password-input::-ms-input-placeholder {
  font-size: 18px;
  color: #e6e6e6;
}

.sign-in-container .signIn-section .form-div form .email-input::placeholder, .sign-in-container .signIn-section .form-div form .password-input::placeholder {
  font-size: 18px;
  color: #e6e6e6;
}

.sign-in-container .signIn-section .form-div form input {
  width: 340px;
  height: 30px;
  background: none;
  border: none;
  border-bottom: 1.5px solid white;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  font-size: 20px;
  font-family: lightP;
  color: white;
  padding-bottom: 12px;
}

.sign-in-container .signIn-section .form-div form .cta-signIn {
  text-align: center;
}

.sign-in-container .signIn-section .form-div form .cta-signIn .signIn-btn {
  border: none;
  background: none;
  height: 50px;
  width: 140px;
  font-size: 20px;
  font-family: lightP;
  font-weight: 400;
  border-radius: 4px;
  background-color: white;
  color: black;
  margin-top: .8em;
  outline: none;
  cursor: pointer;
}

.sign-in-container .signIn-section .form-div form .cta-signIn .cancel-btn {
  border: 1.3px solid white;
  background: none;
  height: 50px;
  width: 140px;
  font-size: 20px;
  font-family: lightP;
  font-weight: 400;
  border-radius: 4px;
  background-color: none;
  color: white;
  outline: none;
  cursor: pointer;
}

.sign-in-container .signIn-section .form-div form .cta-signIn .cancel-btn:hover {
  background-color: white;
  color: black;
}

.sign-in-container .signIn-section .form-div form .foot-anchor-info {
  text-align: center;
  margin-top: 1.2em;
}

.sign-in-container .signIn-section .form-div form .foot-anchor-info a {
  color: white;
  font-size: 14px;
}

.sign-in-container .signIn-section .on-click-hide {
  display: none;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.first-name .first-input {
  margin-top: .5em;
}

.first-name .first-input::-webkit-input-placeholder {
  color: #e6e6e6;
}

.first-name .first-input:-ms-input-placeholder {
  color: #e6e6e6;
}

.first-name .first-input::-ms-input-placeholder {
  color: #e6e6e6;
}

.first-name .first-input::placeholder {
  color: #e6e6e6;
}

.black-text h1 {
  color: black;
  font-size: 32px;
  padding-top: 3px;
  padding-bottom: 8px;
}

.bg-color-container {
  background-color: white;
  height: 100%;
}

.bg-color-container .course-section {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.4em;
  margin-top: 10em;
}

.bg-color-container .course-section h1 {
  margin-top: 20em;
  text-align: center;
  margin: 1.7em 0;
  font-size: 36px;
  font-weight: lighter;
}

.bg-color-container .course-section .course-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1.4em;
}

.bg-color-container .course-section .course-container .course-box {
  -webkit-box-shadow: rgba(30, 20, 30, 0.9);
          box-shadow: rgba(30, 20, 30, 0.9);
  width: 300px;
  height: 390px;
  background-color: #969595;
  border-radius: 7px;
  margin: 0 auto;
  margin-bottom: 1.6em;
  cursor: pointer;
}

.bg-color-container .course-section .course-container .course-box:hover {
  -webkit-box-shadow: rgba(40, 20, 30, 0.9);
          box-shadow: rgba(40, 20, 30, 0.9);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: translateY(-4%);
          transform: translateY(-4%);
}

.bg-color-container .course-section .course-container .course-box img {
  height: 54%;
  width: 100%;
  vertical-align: middle;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.bg-color-container .course-section .course-container .course-box .course-info {
  margin-bottom: .5em;
  padding: 12px;
}

.bg-color-container .course-section .course-container .course-box .course-info h3 {
  margin: .4em 0;
  font-family: lightP;
  color: white;
}

.bg-color-container .course-section .course-container .course-box .course-info p {
  font-size: 14.7px;
  color: white;
  line-height: 1.8;
}

.bg-color-container .course-section .cta-course {
  margin-top: 1.4em;
  margin-bottom: 1.2em;
  text-align: center;
}

.bg-color-container .course-section .cta-course button {
  height: 48px;
  width: 140px;
  border: none;
  background-color: none;
  background-color: black;
  color: white;
  font-size: 17px;
  font-family: lightP;
  cursor: pointer;
}

@media (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 182px;
  }
  .skills-section {
    height: 50vh;
    margin-bottom: 5em;
  }
  .logo-small {
    display: block;
  }
  .about-section {
    width: 90%;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .form-section {
    margin-top: 1.2em;
  }
  .form-section .signIn-form > form > input {
    width: 310px;
  }
  .sign-in-container .signIn-section {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .sign-in-container .signIn-section .form-div {
    width: 260px;
    height: 200px;
  }
  .sign-in-container .signIn-section .form-div form input {
    width: 220px;
  }
  .foot-anchor-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: .5em;
  }
  .newsletter-container {
    height: 66vh;
    width: 96%;
    margin: 3em auto;
  }
  .newsletter-container .news-div h1 {
    font-size: 1.8em;
  }
  .newsletter-container .news-div .news-input input {
    width: 96%;
    margin-left: 7px;
  }
  .hide-for-sm-screen {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
    pointer-events: none;
  }
  .menu .links li a {
    font-size: 22px;
  }
  .menu .links li a:hover {
    font-size: 26px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
  }
  .info > h1 {
    font-weight: 100;
    font-size: 32px;
  }
  .freelance, .remote, .projects, .games {
    height: 200px;
  }
  .contentOne {
    text-align: center;
  }
  .hide-for-mobile {
    display: none;
  }
  .not-for-mobile {
    display: none;
  }
  .menu {
    max-height: 100vh;
  }
  .menu links {
    height: 100vh;
  }
  .foot-grids {
    display: none;
  }
  .notfound .notfound-404 h2 {
    font-size: 24px;
  }
  .notfound .notfound-404 {
    margin-bottom: 110px;
  }
  .skills-section {
    margin-bottom: 12em;
    height: 60vh;
  }
  .logo-small {
    position: absolute;
    top: 10px;
    left: 18px;
    display: block;
    color: white;
    z-index: 1;
    font-weight: 100;
    font-family: lightP;
    height: 10vh;
  }
  .about-section {
    width: 90%;
    margin: auto;
    margin-top: 2.2em;
    margin-bottom: 2em;
  }
  .sign-in-container .signIn-section .form-div {
    width: 340px;
    height: 340px;
  }
  .sign-in-container .signIn-section .form-div form input {
    width: 290px;
  }
  .foot-anchor-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: .7em;
  }
  .newsletter-container {
    height: 74vh;
    margin: 3.4em auto;
  }
  .newsletter-container .news-div .news-input {
    text-align: center;
  }
  .newsletter-container .news-div .news-input input {
    width: 90%;
  }
  .bg-color-container .course-section {
    margin-top: 2em;
  }
}

.signIn-Up-section .form-section {
  height: 70%;
  width: 80%;
}

@media (min-width: 769px) {
  .ham > .ham-menu {
    display: none;
    pointer-events: none;
  }
  .freelance, .remote, .projects, .games {
    height: 265px;
  }
  .signIn-form > form > input {
    height: 45px;
    width: 450px;
  }
  .form-signIn-btn {
    width: 240px;
    height: 50px;
  }
  .merch-section {
    width: 90%;
    margin: auto;
  }
  .merch-section .merch-title {
    margin: 1.2em 0 1em 0;
    text-align: center;
  }
  .merch-section .merch-title h1 {
    font-size: 38px;
  }
  .form-heading {
    margin: 2.6em 0 1.1em 0;
  }
  .foot-grids {
    height: 40vh;
  }
  .signIn-Up-section .form-section {
    height: 50%;
    width: 70%;
  }
  .social-media-section {
    margin-top: 4em;
  }
  .skills-section {
    height: 60vh;
    margin-bottom: 10em;
  }
  .logo-small {
    display: none;
  }
  .about-section {
    width: 90%;
    margin: auto;
    margin-top: 12em;
    margin-bottom: 3.8em;
  }
  .sign-in-container .signIn-section .form-div {
    width: 390px;
  }
  .sign-in-container .signIn-section .form-div form input {
    width: 290px;
  }
  .newsletter-container {
    height: 54vh;
    margin: 2em auto;
  }
  .newsletter-container .news-div .news-input {
    text-align: center;
  }
  .newsletter-container .news-div .news-input input {
    width: 100%;
  }
}

@media (max-width: 863px) {
  .portfolio-container {
    margin-top: 5em;
  }
  .portfolio-container .portfolio-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    place-items: center;
  }
  .portfolio-container .portfolio-gallery .gallery-item {
    height: 320px;
    width: 320px;
  }
  .portfolio-container .portfolio-gallery .gallery-item .gallery-image {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .menu {
    display: none;
  }
  .merch-section .merch-title h1 {
    margin: 1.8em 0 1em 0;
    font-size: 38px;
  }
  .merch-section .merch {
    grid-gap: 1.1em;
  }
  .merch-section .merch .merch-container-one img {
    height: 26vh;
    cursor: pointer;
  }
  .merch-section .merch .merch-container-one img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .foot-grids {
    height: 30vh;
  }
  .signIn-Up-section .form-section {
    height: 60%;
    width: 70%;
  }
  .skills-section {
    height: 60vh;
  }
  .about-section {
    width: 80%;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 4em;
  }
  .sign-in-container .signIn-section .form-div {
    width: 390px;
  }
  .sign-in-container .signIn-section .form-div form input {
    width: 290px;
  }
  .newsletter-container {
    height: 54vh;
    margin: 2em auto;
  }
  .newsletter-container .news-div .news-input {
    text-align: center;
  }
  .newsletter-container .news-div .news-input input {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .form-section {
    margin: 40px 0px 0px 0px;
  }
  .merch-section {
    width: 90%;
    margin: auto;
  }
  .merch-section .merch-title {
    margin: 1em 0 1em 0;
    text-align: center;
  }
  .merch-section .merch-title h1 {
    font-size: 38px;
  }
  .merch-section .merch {
    grid-gap: 1.2em;
  }
  .merch-section .merch .merch-container-one img {
    height: 29vh;
    cursor: pointer;
  }
  .merch-section .merch .merch-container-one img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .foot-grids {
    height: 50vh;
  }
  .signIn-Up-section .form-section {
    height: 85%;
    width: 70%;
  }
  .skills-section {
    margin-bottom: 10em;
    height: 80vh;
  }
  .about-section {
    width: 50%;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 2em;
  }
  .newsletter-container {
    height: 56vh;
  }
}

@media (min-width: 1401px) {
  .merch .merch-container-one img {
    height: 44vh;
    cursor: pointer;
  }
  .merch .merch-container-one img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .signIn-Up-section .form-section {
    height: 70%;
    width: 70%;
  }
  .skills-section {
    height: 62vh;
  }
}
/*# sourceMappingURL=main.css.map */