* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: lightP;
  src: url(../fonts/Poppins-Light.ttf);
}

body {
  font-family: lightP;
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.ham {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ham > .ham-menu {
  font-size: 32px;
  cursor: pointer;
  color: white;
  padding: 10px 0px 0px 0px;
}

.full-navbar {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: rgba(0, 0, 30, 0.75);
          box-shadow: rgba(0, 0, 30, 0.75);
  z-index: 10;
}

.navbar {
  width: 90%;
  margin: auto;
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo h1 {
  font-size: 28px;
}

nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navLinks li a {
  color: black;
  font-size: 18px;
}

.menu li a {
  font-size: 20px;
  color: white;
}

.signBtn {
  border: none;
  background: none;
  border: 1.5px solid black;
  height: 48px;
  width: 120px;
  font-size: 18px;
  font-weight: 100;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  font-family: lightP;
  cursor: pointer;
}

.signBtn:hover {
  background-color: black;
  color: white;
}

.menu {
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: .9;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  will-change: transform;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  list-style: none;
  z-index: 1;
}

.menu .close-btn {
  font-size: 44px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: .4em;
  outline: none;
}

.menu .links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .links li {
  margin: 2em;
}

.menu .links li a:hover {
  color: #ff4a77;
}

.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.lock-scroll {
  overflow: hidden;
}

.ham-hide {
  display: none;
}

.overlay {
  background: url(../images/pexels-fotografierende-1111597.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
  background-attachment: scroll;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.head-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info > h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 38px;
}

.info button {
  height: 48px;
  width: 250px;
  margin: 18px 0px 0px 0px;
  background: none;
  border: none;
  background: transparent;
  border: 2px solid #e6f0e6;
  color: white;
  font-size: 19px;
  font-family: lightP;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.info button a {
  color: white;
}

.info-btn:hover {
  border: none;
  background-color: white;
  width: 280px;
}

.info-btn:hover a {
  color: black;
}

.experience {
  width: 96%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1.5em;
  padding: 30px 0px 50px 0px;
  text-align: center;
}

.freelance, .remote, .projects, .games {
  background-color: #e4e3e3;
  height: 200px;
  padding: 10px 0px 10px 0px;
}

.second-sec-heading {
  font-size: 32px;
  font-weight: 100;
  padding: 30px 0px;
  text-align: center;
}

.two-sided-content {
  width: 96%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 80px 0px;
  grid-gap: 2em;
}

.picOne > img {
  height: 100%;
  width: 100%;
}

.picOne > img:hover {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
}

.contentOne h2 {
  font-size: 28px;
  font-weight: 100;
  margin-bottom: .7em;
}

.contentOne p {
  margin-bottom: 1em;
}

.cta > button {
  font-size: 17px;
  background: none;
  border: none;
  border: 1.5px solid black;
  height: 50px;
  width: 220px;
  font-family: lightP;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.cta > button:hover {
  border: none;
  background-color: black;
  color: white;
}

.detailsOfNumbers {
  height: 60vh;
  text-align: center;
  padding: 0px 0px 70px 0px;
  width: 96%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1.5em;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.instagram-images {
  width: 96%;
  margin: auto;
}

.insta-img-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.4em;
  -ms-grid-columns: (minmax(340px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  place-content: center;
  text-align: center;
}

.img-second-section {
  height: 30%;
  width: 30%;
  margin: 12px 0px 10px 0px;
}

.instaImg {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.instaImg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.signIn-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  padding: 30px 0px;
}

.signIn-form > form {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
}

.signIn-form > form > input {
  height: 45px;
  width: 350px;
  border: none;
  border-bottom: 1.3px solid black;
  font-size: 18px;
  font-family: lightP;
  outline: none;
}

.form-signIn-btn {
  margin: auto;
  width: 200px;
  height: 48px;
  font-size: 18px;
  font-family: lightP;
  border: none;
  background: none;
  border: 1.4px solid black;
  -webkit-transition: .4s;
  transition: .4s;
}

.form-signIn-btn:hover {
  border: none;
  background-color: black;
  color: white;
}

.foot-grids {
  background-color: #3b3b3b;
  -webkit-clip-path: polygon(0 0, 100% 24%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 24%, 100% 100%, 0% 100%);
  width: 96%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1.5em;
  place-items: center;
  padding: 10px 0px;
  color: white;
}

.foot-grids .foot-grid-box h2 {
  margin: 0px 0px 34px 0px;
  font-size: 2em;
}

.foot-grids .foot-grid-box p {
  margin: 0px 0px 34px 0px;
  font-size: 1.2em;
}

.foot-grids .foot-grid-box .foot-cta button {
  height: 50px;
  width: 160px;
  border-radius: 8px;
  border: none;
  background: none;
  background-color: white;
  font-family: lightP;
  font-size: 17px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
}

.foot-grids .foot-grid-box .foot-cta button a {
  color: black;
}

.foot-grids a {
  color: white;
}

.merch-section {
  width: 90%;
  margin: auto;
}

.merch-section .merch-title {
  padding: 4.4em 0 1em 0;
  text-align: center;
}

.merch-section .merch-title h1 {
  font-size: 38px;
}

.merch-section .merch {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1.4em;
}

.merch-section .merch .merch-container-one img {
  height: 34vh;
  cursor: pointer;
}

.merch-section .merch .merch-container-one img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.merch-section .merch .merch-container-one .img-price-detail-container {
  text-align: center;
  margin: 18px 0px;
}

.merch-section .merch .merch-container-one .img-price-detail-container a {
  color: black;
}

.about-section {
  margin: 6em 0 2.2em 0;
  width: 90%;
  margin: 0 auto;
}

.form-heading {
  margin: .5em 0 1.1em 0;
}

#notfound {
  position: relative;
  height: 100vh;
  background: #fdfdfd;
  margin: 0;
  padding: 0;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  letter-spacing: -20px;
}

.notfound .notfound-404 h2 {
  font-family: lightP;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

.notfound a {
  font-family: lightP;
  display: inline-block;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #000000;
  color: white;
  border: none;
}

@media (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 182px;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
    pointer-events: none;
  }
  .info > h1 {
    font-weight: 100;
    font-size: 32px;
  }
  .freelance, .remote, .projects, .games {
    height: 200px;
  }
  .contentOne {
    text-align: center;
  }
  .hide-mobile {
    display: none;
  }
  .not-for-mobile {
    display: none;
  }
  .menu links {
    height: 100vh;
  }
  .foot-grids {
    display: none;
  }
  .notfound .notfound-404 h2 {
    font-size: 24px;
  }
}

@media (min-width: 769px) {
  .ham > .ham-menu {
    display: none;
    pointer-events: none;
  }
  .freelance, .remote, .projects, .games {
    height: 265px;
  }
  .signIn-form > form > input {
    height: 45px;
    width: 450px;
  }
  .form-signIn-btn {
    width: 240px;
    height: 50px;
  }
  .merch-section {
    width: 90%;
    margin: auto;
  }
  .merch-section .merch-title {
    margin: 1.2em 0 1em 0;
    text-align: center;
  }
  .merch-section .merch-title h1 {
    font-size: 38px;
  }
  .form-heading {
    margin: 2.6em 0 1.1em 0;
  }
  .foot-grids {
    height: 40vh;
  }
}

@media (min-width: 1024px) {
  .menu {
    display: none;
  }
  .merch-section .merch-title h1 {
    margin: 1.8em 0 1em 0;
    font-size: 38px;
  }
  .merch-section .merch {
    grid-gap: 1.1em;
  }
  .merch-section .merch .merch-container-one img {
    height: 26vh;
    cursor: pointer;
  }
  .merch-section .merch .merch-container-one img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .foot-grids {
    height: 30vh;
  }
}

@media (min-width: 1200px) {
  .form-section {
    margin: 40px 0px 0px 0px;
  }
  .merch-section {
    width: 90%;
    margin: auto;
  }
  .merch-section .merch-title {
    margin: 1em 0 1em 0;
    text-align: center;
  }
  .merch-section .merch-title h1 {
    font-size: 38px;
  }
  .merch-section .merch {
    grid-gap: 1.2em;
  }
  .merch-section .merch .merch-container-one img {
    height: 40vh;
    cursor: pointer;
  }
  .merch-section .merch .merch-container-one img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .foot-grids {
    height: 50vh;
  }
}

@media (min-width: 1401px) {
  .merch .merch-container-one img {
    height: 44vh;
    cursor: pointer;
  }
  .merch .merch-container-one img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
}
/*# sourceMappingURL=main.css.map */